.comment {
    margin-right: 19px;
    max-width: 382px;
}

.comment:last-of-type {
    margin-right: 0;
}

@media (max-width : 1024px) {
    .comment {
        max-width: 296px;
    }
}

@media (max-width : 768px) {
    .comment {
        max-width: 560px;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-bottom: 35px;
    }
}

@media (max-width : 375px) {
    .comment {
        max-width: 343px;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-top: 4.43px;
    }
}