.cover__subtitle {
    max-width: 382px;
   /* margin: 0 0; */
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    position: relative;
    z-index: 2;
}

@media (max-width : 1440px) {
    .cover__subtitle {
        padding-top: 40px;
    }
}

@media (max-width : 1024px) {
    .cover__subtitle {
        max-width: 413px;
        width: 100%;
        padding-top: 59px;
    }
}


@media (max-width : 768px) {
    .cover__subtitle {
        padding-top: 33px;
        font-size: 18px;
        line-height: 26px;
        max-width: 382px;
       /* width: 90%;*/
        
    }
}

@media (max-width : 375px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        max-width: 336px;
        padding-top:11px;
        
    }
}

@media (max-width : 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        max-width: 288px;
       
    }
}