.video__item_kamchatka:hover {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../../../images/cycling.jpg);
}

.video__item_kamchatka {
    /* width: 583px; */
    margin-right: 18px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../../../images/cycling.jpg);
}

@media screen and (max-width:375px) {

    /* стили для smartphone */
    .video__item_kamchatka {
        margin-left: auto;
        margin-right: auto;
    }
}
 @media screen and (max-width:768px) {

   
    .video__item_kamchatka {
        margin-right: 16px;

    }
}

/*
@media screen and (max-width:375px) {

    /* стили для планшета 
    .video__item_kamchatka {
        flex-direction: column;
        max-width: 343px;
        padding-bottom: 64%;
    }
}

@media screen and (max-width:320px) {

    /* стили для планшета 
    .video__item_kamchatka {
        flex-direction: column;
        max-width: 288px;
        padding-bottom: 64%;
    }
} 

*/