.place__main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    grid-gap: 16px;
}

@media (max-width : 375px) {

    .place__main {
        grid-gap: 17px;
    }
}

/* 
@media (max-width : 692px) {
    .place__main {
        grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    }
}


/* 

@media (max-width : 717px) {

    стили для планшета 
    .place__main {
        display: flex;
        flex-direction: column;
    }
}
*/