.intro__statistics-bold {
    font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 20px;
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .intro__statistics-bold {
        max-width: 340px;
        width: 100%;
        font-size: 12px;
        line-height: 19px;

    }
}

@media screen and (max-width: 320px) {
    /* стили для среднего смартфона */
    .intro__statistics-bold {
        max-width: 340px;
        width: 100%;
        font-size: 12px;
        line-height: 19px;
    }
}