.comment__author {
    max-width: 382px;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    margin-top: 9px;

}

@media (max-width : 768px) {

    /* стили для планшета */
    .comments__author {
    order: 2;
    margin-top: 5px;
    margin-bottom: 0px;
    }
}

@media (max-width : 375px) {

    /* стили для планшета */
    .comments__author {
    order: 2;
    margin-top: 5px;
    margin-bottom: 0px;
    }
}