.content-title {
    max-width: 800px;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: auto;
    padding-top: 102px;
    width: 100%;
}



@media (max-width:768px) {

    /* стили для планшета */
    .content-title {
        font-size: 42px;
        line-height: 46px;
        max-width: 619px;
        padding-top: 98px;
    }
}

@media (max-width:400px) {

    /* стили для планшета */
    .content-title {
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
        padding-top: 64px;
    }
}


@media (max-width:320px) {

    /* стили для планшета */
    .content-title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        padding-top: 45px;
    }
}